<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoxiaoxing.android.framework.demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app_framwork.ApplicationActivity" />
        <activity android:name=".program_idea.ProgramActivity" />
        <activity android:name=".native_framwork.SystemActivity" />
        <activity android:name=".app_framwork.component_framwork.activity.StartActivity" />
        <activity
            android:name=".app_framwork.component_framwork.activity.SubInProcessActivity"
            android:process="com.guoxiaoxing.main.process" />
        <activity
            android:name=".app_framwork.component_framwork.activity.SubInNewProcessActivity"
            android:process="com.guoxiaoxing.new.process"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".app_practice.ui_develop.UIActivity" />
        <activity android:name=".app_practice.ui_develop.DrawActivity" />
        <activity android:name=".app_framwork.component_framwork.activity.SimpleActivity" />
        <activity android:name=".app_framwork.ui_framwork.ViewActivity" />
        <activity
            android:name=".app_framwork.component_framwork.fragment.DemoFragmentActivity"
            android:screenOrientation="sensor" />
        <activity android:name=".app_framwork.ui_framwork.WindowActivity" />
        <activity android:name=".app_framwork.ui_framwork.RecyclerActivity" />
        <activity
            android:name=".app_practice.performance_optimization.PerformanceActivity"
            android:screenOrientation="sensor" />
        <activity android:name=".native_framwork.thread.ThreadActivity" />
        <activity
            android:name=".native_framwork.process.ClientActivity"
            android:process="ClientActivity.Process"/>

        <service
            android:name=".native_framwork.process.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process="RemoteService.Process" />

        <activity android:name=".app_framwork.component_framwork.service.ClientActivity" />

        <service
            android:name=".app_framwork.component_framwork.service.RemoteService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".app_framwork.component_framwork.provider.DataContentProvider"
            android:authorities="com.guoxiaoxing"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>