<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoxiaoxing.android.framework.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".app_framwork.ApplicationActivity" />
        <activity android:name=".program_idea.ProgramActivity" />
        <activity android:name=".native_framwork.SystemActivity" />
        <activity android:name=".app_framwork.component_framwork.activity.StartActivity" />
        <activity
            android:name=".app_framwork.component_framwork.activity.SubInProcessActivity"
            android:process="com.guoxiaoxing.main.process" />
        <activity
            android:name=".app_framwork.component_framwork.activity.SubInNewProcessActivity"
            android:process="com.guoxiaoxing.new.process"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name=".app_framwork.component_framwork.service.ServerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".app_framwork.component_framwork.service.ClientActivity" />

        <activity android:name=".app_practice.ui_develop.UIActivity" />
        <activity android:name=".app_practice.ui_develop.DrawActivity">
        </activity>
        <activity android:name=".app_framwork.component_framwork.activity.SimpleActivity" />
        <activity android:name=".app_framwork.ui_framwork.ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>