<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoxiaoxing.android.framework.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:process="com.guoxiaoxing.main.process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".application.ApplicationActivity" />
        <activity android:name=".program.ProgramActivity" />
        <activity android:name=".system.SystemActivity" />
        <activity android:name=".application.activity.StartActivity" />
        <activity
            android:name=".application.activity.SubInProcessActivity"
            android:process="com.guoxiaoxing.main.process" />
        <activity
            android:name=".application.activity.SubInNewProcessActivity"
            android:process="com.guoxiaoxing.new.process" />
    </application>

</manifest>